<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="https://i.imgur.com/mZtrN9G.png" size="16x16">
  <title>Closet Tracker</title>
  <link rel="stylesheet" href="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Contrail+One&family=Permanent+Marker&family=Righteous&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    
  <nav>
    <% if (user) { %>
    <span>Logged in as: <%= user.name %> </span>
    <img class="user-avatar" src="<%= user.avatar%> " alt="avatar">        
    <div>
      <a href="/closet">My Closet</a>
    </div>
    <div>
      <a href="/closet/new">Add Item To Closet</a>
    </div> 
    <div>
      <a href="/logout">LOG OUT</a>
    </div> 
    <% } else { %>
    <div>
      <a href="/auth/google" >LOG IN</a>
    </div>
    <% } %>
  </nav>       
  <main>
  
