<%- include('./partials/header') %>

<h1 class="home-page-title"><%- title %></h1>
<!-- <h2>Home Page</h2> -->

<div id="login-box">
  <h2>Welcome</h2>
  <h2><a href="/auth/google" class="login">Please Log In</a></h2>
</div>

<%- include('./partials/footer') %>