<%- include('./partials/header') %>

<div id="login-box">
  <h1>Welcome to Closet Tracker!</h1>
  <h2><a href="/auth/google" class="login">Please Log In</a></h2>
</div>

<%- include('./partials/footer') %>