
body {
  /* grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(autofill, 2fr); */
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
}

a {
  color: #00B7FF;
}
.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
}

.login img {
  height: 30px;
}

.user-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#login-box {
  border-color: black;
  border-width: 2px;
  border-style: dashed;
}
table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid black;
}

/* #list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
} */

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(autofill, 2fr);
  grid-gap: 15px;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 25%;
}
figure:hover {
  transform: scale(1.05);
  opacity: .5;
}

#border-box {
  padding: 10px;
  margin: 100px;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  background-color: rgb(231, 231, 231);
 }
 .image-format {
  opacity: 1;
 }
#new-item-form-box {
  display: grid;
  grid-template-columns: (1, 1fr);
  justify-content: center;
  color: black;
  border-color: black;
  border-style: solid;
  width: 75%;
}
#new-item-form {
  padding: 5px;
  width: 100px;
}
.single-image {

  height: 75%;
  width: 75%;
  /* padding: 10%; */
}
.category-and-image {
  display: grid;
  grid-template: auto;
  /* grid-template-columns: repeat(3,  3fr); */
  grid-gap: 10px;
 
  /* grid-template-rows: 2fr 1fr; */
  margin-top: 5%;
  justify-content: center;
  /* position: relative; */
  border-style: solid;
  border-color: black;
 }