main {
  /* background-color: aqua; */

}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  background-color: rgb(208, 218, 230);
  /* grid-template-columns: repeat(3, 3fr);
  
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* color: red; */
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: bisque;
}

nav > div {
  margin: 10px;
  font-size: 20px;
}
nav > div:last-child {
  margin-left: auto;
  margin-right: 25px;
}
footer {
  display: flex;
  background-color: bisque;
}

#closet-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

#closet-border-box {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(autofill, 2fr);
  grid-gap: 15px;
  padding: 10px;
  margin: 25px 100px 5px 100px;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  padding: 25px;
  background-color: rgb(231, 231, 231);
 }
 
#add-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 25px;
}
a {
  color: rgb(206, 84, 3);
}

.category-and-image {
  display: grid;
  grid-template: auto;
  grid-gap: 10px;
  grid-template-rows: 1fr;
  margin: 25px 100px 5px 100px;
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  position: relative;
  /* align-items: center; */
  /* grid-template-columns: repeat(3,  3fr); */
  /* position: relative; */
}

.single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  max-width: 75%;
  padding: 10px;
}

.additional-info {
    display: grid;
    grid-template: auto;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
}

.login img {
  height: 30px;
}

.user-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#login-box {
  border-color: black;
  border-width: 2px;
  border-style: dashed;
}
table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid black;
}


/* #list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
} */

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}





#grid-images {
  height: 100%;
  width: 100%;
  border-radius: 25%;
}
figure:hover {
  transform: scale(1.05);
  opacity: .5;
}



 .image-format {
  opacity: 1;
 }
#new-item-form-box {
  display: grid;
  grid-template-columns: (1, 1fr);
  justify-content: center;
  color: black;
  border-color: black;
  border-style: solid;
  width: 75%;
}
#new-item-form {
  padding: 5px;
  width: 100px;
}



 .home-page-title {
  color: blue;
  font: 25px;
}

/*       -----------------------Not in use -------------------- */

/* .image-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(autofill, 2fr);
  grid-gap: 15px;
} */

/* nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
} */