main {
  /* background-color: aqua; */

}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  background-color: rgb(224, 212, 165);

  color: rgb(78, 74, 70);
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 25px;
  background-color: rgb(160,163,115);
  font-family: 'Righteous', cursive;
  border-bottom: 5px solid rgb(110,119,119);
}

nav > div {
  margin: 20px;
  font-size: 19px;
}
nav > div:hover {
  margin: 15px;
  font-size: 20px;
  background-color: rgb(147, 151, 104);
  border-radius: 5px;
  padding: 10px;
  
  /* font-family: 'Righteous', cursive; */
}

nav > div:last-child {
  margin-left: auto;
  margin-right: 25px;
}

a {
  color: rgb(32, 81, 81);
}

footer {
  display: flex;
  background-color: rgb(160,163,115);
  border-top: 5px solid rgb(110,119,119);
}

#closet-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

#closet-border-box {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(autofill, 2fr);
  grid-gap: 15px;
  padding: 10px;
  margin: 25px 100px 5px 100px;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  padding: 25px;
  background-color:  rgb(217, 208, 192);
 }
 
#add-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 25px;
}
#edit-item-button {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(207,182,149);
  border-radius: 10px;
  border: solid black 2px;
  cursor: pointer;
  font-family: 'Righteous', cursive;
  text-align: center;
  width: 10%;
}

#edit-item-button a {
  
  color: rgb(78, 74, 70);
}

.category-and-image {
  display: grid;
  place-items: center;
  grid-gap: 10px;
  grid-template-rows: 1fr;
  margin: 5px 20% 5px 20%;
  /* margin: auto; */
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  /* position: relative; */
  padding-bottom: 5px;
  height: auto;
  font-family: 'Righteous', cursive;
  background-color:  rgb(217, 208, 192);
}

.single-image {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 85%;
  max-width: 85%;
  /* padding: 10px; */
  border-radius: 10%;
}


.additional-info {
    display: grid;
    grid-template: auto;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.edit-delete-button {
  border: none;
}

#notes-form {
  margin: 1%;
}

#show-box {
  height: 100vh;
  margin: 1% 5% 1% 5%;
}

#new-item-form-box {
  text-align: center;
  /* place-items: center; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 28%;
  /* height: 35%; */
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 30px;
  background-color:  rgb(217, 208, 192);
}
.new-item-submit {
  font-size: 20px;
  margin: auto;
  padding: 5px;
  background-color: rgb(207,182,149);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}

#add-notes-submit {
  margin: auto;
  padding: 4px;
  background-color: rgb(207,182,149);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}
.new-item-submit:hover {
  font-size: 20px;
  margin: auto;
  padding: 5px;
  background-color: rgb(255, 201, 135);
  border-radius: 10px;
  cursor: pointer;
}

.new-item-input {
  color: rgb(117,117,117);
  border-radius: 10px;
  height: 25px;
  margin: 10px;
  border-color: black;
  outline-width: 0;
  font-family: 'Righteous', cursive;
}

h2 {
  font-family: 'Righteous', cursive;
  
}

#item-dropdown {
  height: 30px;
  border-radius: 10px;
  color: rgb(117,117,117);
  border-color: black;
  border-width: 2px;
  margin-right: 10px;
  font-family: 'Righteous', cursive;
}


/* .new-item-form {
  place-items: center;
  padding: 15px;
  width: 50%;
  border-radius: 30px;
} */

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
}

.login img {
  height: 30px;
}

.user-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border-radius: 10%;
  height: 48px;
  width: 48px;
}

#login-box {
  text-align: center;
  /* place-items: center; */
  position: fixed;
  top: 50%;
  left: 50%;

  width: 28%;
  /* height: 35%; */
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 30px;
  background-color: rgb(231, 231, 231);
}
table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid black;
}


/* #list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
} */

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}





#grid-images {
  height: 100%;
  width: 100%;
  border-radius: 25%;
}
figure:hover {
  transform: scale(1.05);
  opacity: .5;
}



 .image-format {
  opacity: 1;
 }



 .home-page-title {
  color: blue;
  font: 25px;
}

/*       -----------------------Not in use -------------------- */

/* .image-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(autofill, 2fr);
  grid-gap: 15px;
} */

/* nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
} */